html{box-sizing: border-box;}
html *{box-sizing: inherit;}
body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    color: #2c3e50;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li { list-style: none; }
